.notif_home_styles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notif_holder {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.notif_home_head {
  margin: 10px 0 5px 0;
  width: 100%;
  max-width: 550px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.notif_home_bar {
  width: 100%;
  max-width: 550px;
  display: inline-flex;
  align-items: center;
  height: 50px;
}
