.noti_avatar{

    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;

}

.noti_avt_info{

    width: 100%;
    text-align: start;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

}

.notif_icon{

    background-color: crimson;
    height: 7px;
    width: 7px;
    border-radius: 50%;

}

.notif_actions{

    margin-top: 5px;
    margin-left: 50px;
    display: inline-flex;

}