.nav_btn{

    position: fixed;
    margin-bottom: 20px;
    bottom: 0;
    z-index: 1000;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.15);

}

.nav_con{

    background: rgba(255,255,255,0.6);
    backdrop-filter: saturate(300%) blur(20px);
    border-radius: 12px;
    border: 1px solid rgb(202, 202, 202, 0.5);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.nav_pill{

    display: inline-flex;
    align-items: center;
    padding: 10px;
    position: relative;
    top: 3px;


}

.nav_pill a.active{

    border-bottom: 1px solid #4E041E;

}

.span_nav{

    width: 2px;
    height: 25px;
    background-color: #4E041E;

}

.add_icons{

    margin-right: 3px;

}

.search_result{

    width: 100%;
    text-align: start;

}

.alert_dot{

    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #FF4ECD;
    left: 44%;
    bottom: 85%;
    border-radius: 50%;

}